/* src/App.css */

.main {
  font-family: "Luxurious Roman", serif;
  font-weight: 400;
  font-style: normal;
}

/* body {
    font-family: 'Luxurious Roman', serif;
    background-color: red;
  }
  
  /* You can apply it to specific elements as well */
  /* h1 {
    font-family: 'Luxurious Roman', serif;
  } */
  
  /* p {
    font-family: 'Luxurious Roman', serif;
  } */ 